<!DOCTYPE html>
<html>
<head>
  <title>Mls ruby automated gitlab tags</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "mls_ruby_automated_gitlab_tags/application", media: "all" %>
  <%= javascript_include_tag "mls_ruby_automated_gitlab_tags/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
